%html
  %head
    %meta{ 'http-equiv'.to_sym => "Content-type", :content => "text/html; charset=utf-8" }
    %title 
      = @current_commit.message[0..19] + "..."
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen" }
  %body
    #page
      .sidebar
        %ul
        - @commits.each do |commit|
          %li
            %a{ :href => commit.id } 
              = commit.id[0..9] + "..."
            %p
              = commit.message.gsub( '`', '_' )
      .content
      - @blobs.each do |blob|
        .file
          %h3
            = blob.name
          .code
            %p
              = blob.data
            %ol
              %li
                .line Diff line 1 here.
              %li
                .line Diff line 2 here.
              %li
                .line Diff line 3 here.

