%html
  %head
    %meta{ 'http-equiv'.to_sym => "Content-type", :content => "text/html; charset=utf-8" }
    %title 
      = @current_commit.message[0..19] + "..."
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen" }
    = javascript_include_tag :defaults
  %body
    #page
      .sidebar
        %ul
          - @commits.each do |commit|
            %li
              %a{ :href => url_for( :controller => 'commits', :action => 'get', :id => commit.id ) } 
                = commit.id[0..9] + "..."
              %p
                = commit.message
      .content
        - @diffs.each do |diff|
          .file
            %h3
              = link_to_function image_tag( 'patch.png', :border => '0' ), "$( this ).parent().next().toggle()"
              = diff.b_path
            .code{ :style => 'display:none' }
              = diff_to_html diff.diff

