%html
  %head
    %meta{ 'http-equiv'.to_sym => "Content-type", :content => "text/html; charset=utf-8" }
    %title 
      = @current_commit.message[0..19] + "..."
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen" }
  %body
    #page
      .sidebar
        %ul
          - @commits.each do |commit|
            %li
              %a{ :href => commit.id } 
                = commit.id[0..9] + "..."
              %p
                = commit.message
      .content
        - @diffs.each do |diff|
          .file
            %h3
              = diff.b_path
            .code
              %ol
                - diff_lines = diff.diff.split( "\n" )
                - diff_lines[ 3, diff_lines.length ].each do |line|
                  %li
                    .line
                      %pre
                        = line

