%html
  %head
    %meta{ 'http-equiv'.to_sym => "Content-type", :content => "text/html; charset=utf-8" }
    %title 
      = @current_commit.message[0..19] + "..."
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen" }
    = javascript_include_tag :defaults
  :javascript
    $( function(){  
      var select   = $( '#commit_selector' );
      var options  = $( '#commit_selector > option' );
      var button   = $( "<div class='commit_selector'>commits</div>" );
      var selector = $( "<ul class='commit_selector'></ul>" );
      options.each( function( i, option ){ 
        option = $( option );
        selector.append( "<li><a href='#' onclick='document.location=\"" + option.attr( 'id' ) + "\"'>" + option.html() + "</a></li>" );
      } );
      select.replaceWith( div );
      selector.appendAfter( div );
    } );
  %body
    .toolbar
      %select#commit_selector
        - @commits.each do |commit|
          %option{ :id => commit.id }
            = commit.message
      .buttons
        %a.first
        %a.previous
        %a.next
        %a.last
    .content
      %p
        %strong message:
        = @current_commit.message
      - @diffs.each do |diff|
        .file
          %h3.file
            = link_to_function image_tag( 'script_code_red.png', :border => '0' ), "$( this ).parent().next().toggle()"
            = diff.b_path
          .code{ :style => 'display:none' }
            = diff_to_html diff.diff

